body {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}


ul{
    position: relative;
    right: 22.5%;
    list-style: none;
}

.container{
    display: flex;
    margin: 50px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.pricing-table  {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

.button-primary {
    padding: 0 10px;
    border: 1px solid black;
    border-radius: 3px;
    outline: none;
}

